.hero-body figure{
	margin: auto;
}

#top_hero {
	border-bottom-right-radius: 25%;
	border-bottom-left-radius: 25%;
	color: #fff;
    background: url(SVG_Header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #112380;
}

