.hero-body figure{
	margin: auto;
}

#top_hero {/*
	color: #fff;
    background: url(header_outline.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;*/
    background-color: #112380;
    color: #fff;
}

#top_hero .page_top-bottom{/*
	background-color: #FF6900;
    position: absolute;
    left: 25%;
    bottom: 0;
    right: 25%;
    z-index: -1;
    top: 0;*/
}

.columns.is-full-height .column{
	height: 100%;
}

.databox{
	padding: 1rem 0rem;
}

#app .databox:nth-of-type(odd) article:last-of-type{
	background-color: #112380;
	color: #fff;
}

#app .databox:nth-of-type(even) article:last-of-type{
	background-color: #FF6900;
	color: #fff;
}

#app .databox:nth-of-type(odd) .is-parent{
	flex-direction: row-reverse;
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

progress::-moz-progress-bar {
	background: transparent;
}

.databox ul{
	list-style-type: none;
}

.align-center{
	align-items: center;
}

.tile p.title{
	margin: auto;
}

#header_image{
	margin: auto;
	width: 50%;
	border-radius: 25%;
	height: 100%;
	background-image: url('images/Michael.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

#header_about p{
	padding-top: 1rem;
}

#skills_scroll{
	margin: 1rem auto;
	width: 15%;
	text-align: center;
}

#skills_scroll p{
	margin-bottom: 0.75rem;
}

#skills_scroll:hover svg{
	/*transition: 500ms linear;
	margin-bottom: -10px;*/
}