.hero-body figure{
	margin: auto;
}

#top_hero {
	border-bottom-right-radius: 25%;
	border-bottom-left-radius: 25%;
	color: #fff;
    background: url(SVG_Header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #112380;
}

.columns.is-full-height .column{
	height: 100%;
}

.databox:nth-child(odd) article:last-of-type{
	background-color: #112380;
}

.databox:nth-child(even) article:first-of-type{
	background-color: ##FF6900;
}